<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Geek</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
</head>

<body>
    <header>
        <img style="height: 100px; width: 300px;" src="~/Content/img/logo.png" alt="Logo" />
    </header>
    <nav class="nav">
            <b>@Html.ActionLink("Home", "Index", "Home", new { @style = "color: black" })
            @Html.ActionLink("Survey", "Survey", "Home", new { @style = "color: black" })</b>
    </nav>

    @RenderBody()

</body>
</html>