<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>National Park Geek</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css">
</head>
<body>
    <div class="container-fluid">
        <header>
            <img src="~/Content/img/logo.png" class="img-responsive img-rounded" style="display: inline; width: 300px" alt="Geek" />
        </header>
        <nav class="navbar navbar-default navbar-left" style="background-color: azure">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://localhost:55601/Home">Home</a>
                <a class="navbar-brand" href="http://localhost:55601/Home/Survey">Survey</a>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>