@using Capstone.Web.Models;
@model List<Park>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-sm-8">
            <h2>Parks</h2>
        </div>
    </div>


    @foreach (var item in Model)
    {

        <div class="row">
            <div class="col-sm-6">
                <a href='@Url.Action("ParkDetails", "Home", new {id = item.ParkCode})'>
                    @{string imagePath = item.ParkCode.ToLower() + ".jpg";}
                    <img style="float: left" class="img-rounded img-responsive" src="~/Content/img/parks/@imagePath" alt="Park Image" />
                </a>
            </div>
            <div class="col-lg-6">
                <a href='@Url.Action("ParkDetails", "Home", new{id=item.ParkCode})'>
                    <b> @Html.ActionLink(item.ParkName, "ParkDetails", new { id = item.ParkCode }, new { @style = "color: black; text-decoration: none" })</b>
                </a>
                <p>@Html.DisplayFor(modelItem => item.ParkDescription)</p>
            </div>
        </div>

        <br />
    }
