@model List<Capstone.Web.Models.SurveyResults>

@{
    ViewBag.Title = "SurveyResults";
}

<h2>Survey Results</h2>


<table class="table">
    <tr>
        <th>
            Vote Count
        </th>
        <th>
            Park Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VoteTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkName)
        </td>
    </tr>
}

</table>
